*,
:after,
:before {
    box-sizing: inherit;
}

article,
aside,
figure,
footer,
header,
hgroup,
section,
div {
    display: block;
}

a {
    /* color: #485fc7; */
    cursor: pointer;
    text-decoration: none;
}

@font-face {
    font-family: "utm-eremitage";
    src: url("assets/logo/UTM Eremitage.ttf") format("woff"),
        url("assets/logo/UTM Eremitage.ttf") format("opentype"),
        url("assets/logo/UTM Eremitage.ttf") format("truetype");
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, helvetica neue, segoe ui, helvetica, roboto, noto, arial, sans-serif !important;
    -webkit-font-smoothing: antialiased
}

#pdsHeader {
    width: 100%;
    background: #43C0B8;
    z-index: 1000;
}

.box-logo {
    width: 201px;
    height: 35px;
}

.pds-container {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.pds-navbar {
    height: 64px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.icon-logo {
    background-image: url(assets/logo/logo1.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 201px 35px;
    line-height: 30px;
    vertical-align: middle;
}

.navbar-brand {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
}

.header-item {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 6px 10px;
    border-radius: 10px;
    text-decoration: none !important;
    position: relative;
}

.header-item {
    background: hsla(0, 0%, 100%, .2);
}

.about-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
    color: #FFF;
}

.about-content {
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
}

.box-search {
    width: 300px;
    float: left;
    margin: 0 10px 0 0;
}

.box-search form {
    box-sizing: border-box;
    position: relative;
}

.is-flex {
    display: flex !important;
}

.input-group-btn button {
    background-color: #fff;
    box-sizing: border-box;
    height: 34px;
    border: 0;
    border-radius: 10px 0 0 10px;
    color: #707070;
}

.pds-input {
    width: 100%;
    height: 34px;
    font-size: 16px;
    border-radius: 0 10px 10px 0;
    outline: none;
    border: 0;
    padding: 0.5rem 1rem 0.5rem 0.6rem;
}

.btn-contact {
    background: none;
}

.btn-contact:hover {
    background: hsla(0, 0%, 100%, .2);
    padding: 10px;
}

.pds-homepage {
    background-color: rgba(251, 251, 251, 0.848);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

/* slideshow */

.block-top-left {
    max-width: 877px;
}

.swiper {
    width: 100%;
    height: 381px;
}

.swiper-slide {
    width: 229px;
    height: 378px;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-top-right {
    width: 283px;
    margin-left: 25px;
}

.right-banner {
    width: 100%;
    max-width: 283px;

}

.right-banner-item {
    min-height: calc(33.33333% - 10px);
    overflow: hidden;
    width: 100%;
    display: block;
    /* border-radius: 10px; */
}

.right-banner .right-banner__item .right-banner__img {
    float: left;
}

img {
    height: auto;
    max-width: 100%;
}

.horizontal-banner {
    margin-bottom: 15px;
}

.block-product {
    margin-bottom: 10px;
    min-height: 250px;
}

.product-list-title {
    margin-bottom: 2px;
}

.title {
    display: block;
    font-size: 12px;
    line-height: 40px;
    white-space: nowrap;
    margin-right: 20px;
    margin-bottom: unset;
}

.title h2 {
    font-weight: 600;
    color: #444;
}

.related-tag {
    float: right;
    border-radius: 10px;
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
    color: #444;
    padding: 5px 10px;
    font-size: 13px;
    white-space: nowrap;
    height: 34px;
}

.list-related-tag {
    align-items: center;
    display: flex;
    margin-left: auto;
}

.related-tag:not(:last-child) {
    margin-right: 10px;
}

.product-list {
    background: #43C0B8;
    border-radius: 10px;
}

/* button */
.p-2 {
    padding: 0.5rem !important;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.product-info-container {
    align-items: center;
}

.product-info-container {
    width: auto;
    height: auto;
    min-height: 202px;
    position: relative;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0rgba(60, 64, 67, .1), 0 2px 6px 2pxrgba(60, 64, 67, .15);
}

.product__image {
    text-align: center;
}

.product__image img {
    width: 160px;
    margin: 10px 0 0;
}

.product__name {
    -webkit-line-clamp: 3;
}

.product-info-container .product-info a .product__name h3,
.product-info-container .product-info a .product__name p {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 14px;
    height: 65px;
    font-weight: 600;
    position: relative;
    z-index: 10;
}

.product-info-container .product-info a {
    color: #444;
}

.block-hot-sale {
    padding: 2px;
    min-height: 350px;
    margin: 0 0 15px;
    border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    width: calc(var(--swiper-navigation-size)/44*27);
    height: 44px;
    height: var(--swiper-navigation-size);
    margin-top: -22px;
    margin-top: calc(var(--swiper-navigation-size)*-1/2);
    z-index: 20;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-theme-color);
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev {
    padding-right: 10px;
    border-radius: 0 100px 100px 0;
    left: 0;
}

.swiper-button-next {
    padding-left: 10px;
    border-radius: 100px 0 0 100px;
    right: 0;
}

/* .swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    font-size: 1.8rem;
    top: 50%;
    transition: .3s;
    outline: none;
    opacity: .8;
} */

/* footer */
.pds-footer {
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    position: relative;
    overflow-x: hidden;
}

.mt-4 {
    margin-top: 1rem !important;
}

@media only screen and (max-width: 1199px) {
    .pds-container {
        width: 100% !important;
        max-width: 1200px !important;
        padding: 0 10px;
    }

    .box-logo {
        align-items: stretch;
        display: flex;
        flex-shrink: 0;
    }

    .icon-logo {
        background-image: url(assets/logo/logo1.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 162px 29px;
    }

    .header-item {
        display: none;
    }

    .btn-category {
        margin-left: 10px;
        display: flex;
        align-items: center;
        height: 42px;
        border-radius: 10px;
        text-decoration: none !important;
        position: relative;
    }

    .about-category {
        display: none;
    }

    .box-search {
        width: 100%;
        float: left;
        margin: 0 10px 0 10px;
    }

    .pds-input {
        font-size: 10px;
    }

    .btn-cart {
        display: flex;
        align-items: center;
        height: 42px;
        padding: 6px 10px;
        border-radius: 10px;
        text-decoration: none !important;
        position: relative;
    }

    .pds-homepage {
        padding: 10px;
    }
    .block-top-left {
        max-width: 70%;
    }
    .swiper{
        width: 100%;
        height: 100%;
    }

    .is-flex-wrap-wrap {
        flex-wrap: wrap !important;
    }

    .list-related-tag {
        overflow-x: auto;
        margin-right: auto;
        margin-left: unset;
        width: 100%;
    }
    .swiper-slide{
        width: 237.333px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .box-logo {
        width: 52px;
        height: 50px;
    }

    .navbar-brand {
        align-items: stretch;
        display: flex;
        flex-shrink: 0;
    }

    .pds-homepage {
        padding: 5px 5px;
    }

    .icon-logo {
        background-image: url(assets/logo/logo-moblie.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 52px 52px;

    }
    .block-top-left {
        max-width: 100%;
    }
    .swiper{
        width: 100%;
        height: 100%;
    }

    .block-top-right {
        display: none;
    }

    .is-flex-wrap-wrap {
        flex-wrap: wrap !important;
    }

    .list-related-tag {
        overflow-x: auto;
        margin-right: auto;
        margin-left: unset;
        width: 100%;
    }
    .swiper-slide{
        width: 129.6px;
        margin-right: 10px;
    }

}